<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <add name="Node" path="*" verb="*" modules="httpPlatformHandler" />
    </handlers>
    <httpPlatform stdoutLogEnabled="true" stdoutLogFile=".\node.log" startupTimeLimit="120" processPath="node" arguments="server.js" />
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>