<?xml version="1.0" encoding="utf-8"?><?xml version="1.0" encoding="utf-8"?>

<configuration><configuration>

  <system.webServer>  <system.webServer>

    <handlers>    <webSocket enabled="false" />

      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />    <handlers>

    </handlers>      <add name="Node" path="*" verb="*" modules="httpPlatformHandler" />

    <rewrite>    </handlers>

      <rules>    <httpPlatform stdoutLogEnabled="true" stdoutLogFile=".\node.log" startupTimeLimit="120" processPath="node" arguments="server.js" />

        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">    <httpErrors existingResponse="PassThrough" />

          <match url="^server\.js\/debug[\/]?" />  </system.webServer>

        </rule></configuration>
        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}"/>
        </rule>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>